node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# local config files
google-services.json
firebaseConfig.ts
imgurConfig.ts

# local env files
.env
